# Prototype
snippet yuiclass
  /**
   * ${1:description}
   *
   * @namespace ${2:namespace}
   * @class ${3:class}
   * 
   */
	${1:class_name}.prototype.${2:method_name} = function(${3:first_argument}) { 
		${0:// body...}
	};


snippet yuiparam
   * @param {$1:type} ${2:description}

snippet yuimethod
	/**
	* ${2: description}
	*
	*
	* @method ${1:name}
	*
	*/
